/* Налаштовує стиль тексту в <span> всередині <p> з класом .text-background */
p.text-background span {
  font-style: italic; /* Змінює стиль тексту на курсив */
  font-weight: bold; /* Робить текст жирним */
  text-decoration: underline; /* Підкреслює текст */
}

/* Додає жовтий фон до <span> всередині елементів з класом .text-background у межах <div> */
div .text-background span {
  background-color: yellow; /* Змінює фон на жовтий */
}

/* Сірий фон і перекреслений текст для вкладених <span> */
span span {
  background-color: gray; /* Змінює фон на сірий */
  text-decoration: line-through; /* Додає перекреслений текст */
}

/* Змінює розмір шрифту та тексту в верхньому регістрі для вкладених <span> у <ol> */
ol span span {
  font-size: 18px; /* Змінює розмір шрифту на 18px */
  text-transform: uppercase; /* Робить текст верхнім регістром */
}

/* Додає відступ першого рядка, текстову тінь до <p> безпосередньо всередині <section> */
section > p {
  text-indent: 50px; /* Відступ першого рядка на 50px */
  text-shadow: 3px 3px 5px rgba(255, 80, 130, 1); /* Тінь тексту рожевого кольору */
}

/* Використовує зображення як маркери для вкладених списків <ul> всередині <li> */
li ul {
  list-style-image: url("../materials/li.svg"); /* Встановлює зображення для маркерів */
}

/* Встановлює відстань між словами в <p> з класом .text-background всередині <div> */
div > p.text-background {
  word-spacing: 50px; /* Відстань між словами 50px */
}

/* Робить текст у <p> жирним, якщо він знаходиться всередині <div> з класом .bold */
div.bold > p {
  font-weight: bold; /* Робить текст жирним */
}

/* Встановлює міжрядковий інтервал для <p> у <section> всередині <div> з класом .bold */
div.bold section p {
  line-height: 45px; /* Міжрядковий інтервал 45px */
}

/* Додає коричневий фон для <p>, який розташований безпосередньо після <img> */
img + p {
  background-color: brown; /* Встановлює коричневий фон */
}

/* Змінює колір тексту на червоний для будь-якого <p>, що слідує за <section> */
section ~ p {
  color: red; /* Змінює колір тексту на червоний */
}
